# Project exclude paths
/cmake-build-*/
/cmake-autobuild-*/


/.idea/
/out/
/build/
/.vs/
/.vscode/
/.*/
!/.github/
!/.github/**
/.trae/

/*.rar
/*.zip
/*.7z
/*.tar.gz

/docc/

/External/

/ThirdParty/Python/pyNastran/
/ThirdParty/Python/pyNastran/*
/ThirdParty/Python/pyNastranLib/nastran_to_vtk_cli.exe

/Examples/Models/CAD11
/Examples/Models/Driver
/Examples/Models/redsea
/Examples/Models/sukong_Step-1_2.vtu
/ThirdParty/libtorch/

# Runtime logs
/logs/
